@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	color: #fff;
	background-color: #212121;
}

html,
body {
	height: 100vh;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	position: relative;
	color: #212121;
	/* background: url('./assets/bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; */
	overflow: hidden;
}
