.main__container {
	max-width: 1280px;
	margin: 0 auto;
	height: 90%;
	position: relative;
}

.form__container {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-weight: 100;
	font-size: 5.2rem;
	line-height: 0.8;
	&__secondary {
		font-weight: 100;
		font-size: 4.9rem;
		margin-bottom: 2rem;
	}
	&__ampersand {
		font-size: 13rem;
		color: #ccc;
	}
}

.large__title {
	font-size: 19rem;
	text-align: center;
	position: absolute;
	color: #f4f4f4;
	top: 37rem;
	left: 15rem;
	z-index: -1;
}
